<template>
  <div>
    <v-parallax style="height: 85vh;" :src="require('~/assets/background.jpg')">
      <v-layout align-center column justify-center>
        <h1 class="display-2 font-weight-thin mb-3">Thibaut Mottet</h1>
        <h2 class="subheading">[Craftsman] Web developer</h2>
      </v-layout>
    </v-parallax>
    <v-card
      flat
      color="deep-purple lighten-2"
      class="white--text"
      style="height: 15vh;"
    >
      <v-card-title primary-title style="float: right;">
        <div>
          <v-btn fab dark color="primary">
            <v-icon dark>fab fa-twitter</v-icon>
          </v-btn>

          <v-btn fab dark color="deep-orange darken-2">
            <v-icon dark>fab fa-gitlab</v-icon>
          </v-btn>

          <v-btn fab dark color="black">
            <v-icon dark>fab fa-github</v-icon>
          </v-btn>
        </div>
      </v-card-title>
    </v-card>
    <v-card flat color="grey lighten-5" style="height: 400px;">
      <v-card-title primary-title>
        <div>
          <div class="headline">...</div>
        </div>
      </v-card-title>
    </v-card>
  </div>
</template>
